html,
    body {
        background-color: #cacaca;
        height: 100%;
        font-family: 'Numans', sans-serif;
    }

    .container {
        padding: 20px;
        height: 100%;
        align-content: center;
    }

    .card {
        margin-top: auto;
        margin-bottom: auto;
        background-color: rgba(0, 0, 0, 0.5) !important;
    }

    .card-header h3 {
        color: white;
    }

    input:focus {
        outline: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;
    }

    .checkout_btn {
        background-color: #007bff;
        color: white;
        width: 100%;
    }

    .checkout:hover {
        opacity: 0.9;
        color: white;
    }

    .links {
        color: white;
    }

    .links a {
        margin-left: 4px;
    }

    .form-group {
        margin-bottom: 2rem;
    }

    .mw-50 {
        width: 300px;
    }

    .w-90 {
        width: 90%;
    }
    .table-dark{
        background-color: #656565;
    }

    .w-0{
        width: 0%;
    }
    .mw-1{
        max-width: 1px;
    }
    .no-wrap{
        white-space: nowrap;
    }