html,
    body {
        background-color: #cacaca;
        height: 100%;
        font-family: 'Numans', sans-serif;
    }

    .container {
        padding: 20px;
        height: 100%;
        align-content: center;
    }

    .card {
        height: 370px;
        margin-top: auto;
        margin-bottom: auto;
        width: 500px;
        background-color: rgba(0, 0, 0, 0.5) !important;
    }

    .card-header h3 {
        color: white;
    }

    input:focus {
        outline: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;
    }

    .login_btn {
        background-color: #007bff;
        color: white;
        width: 100%;
    }

    .login_btn:hover {
        opacity: 0.9;
        color: white;
    }

    .links {
        color: white;
    }

    .links a {
        margin-left: 4px;
    }

    .form-group {
        margin-bottom: 2rem;
    }