.icon-user-allign{
    margin-top:5px; 
    font-size:1.7em;
}
.cart-allign{
    margin-top:14px; 
    font-size:1.7em;
}

@media screen and (max-width:575px){
    .nav-desktop{
        display: none;
    }
}
@media screen and (min-width:576px){
    .nav-mobile{
        display: none;
    }
}